/* Estrutura do site */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(/assets/imagens/fundo.png) repeat-x top;
}

#container {
    width: 950px;
    margin: 0 auto;
}

#header {
    height: 150px;
    background: url(/assets/imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
/*  background: url(/assets/imagens/logo.png) no-repeat center;
    text-indent: -3000px; Empurra a imagem pra fora da tela */
}

/* Barra de Navegação */

a:link, a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#barra-navegacao ul {
    margin-top: 30px;
    background: #487278;
    float: left;
    width: 830px;
}

#barra-navegacao ul li {
    float: left;
    padding-left: 20px;
    margin: 0 7px;
}

#barra-navegacao ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    line-height: 2.1em;
    color: #fff;
}

#barra-navegacao ul .primeiro a {
    background: none;
}

#barra-navegacao ul a:hover {
    color: #203336;
}

body.home #barra-navegacao a#home,
body.cidade #barra-navegacao a#cidade,
body.entrevistas #barra-navegacao a#entrevistas,
body.fotos #barra-navegacao a#fotos {
    color: #fff;
    background: #568990;
    cursor: text;
}

/* Layout de três colunas */

#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

#barra-lateral {
    width: 180px;
    margin: 0 0 20px -920px;
    float: left;
}

#conteudo-principal {
    width: 350px;
    margin: 0 0 20px 195px;
    float: left;
}

#duas-colunas #conteudo-principal {
    width: 715px;
}

#uma-coluna #conteudo-principal {
    width: 750px;
    margin: 0 0 20px 0;
    padding: 0 0 0 50px;
}

#conteudo-secundario {
    width: 350px;
    margin: 0 0 20px 15px;
    float: left;

}

/* Caixa */

.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(/assets/imagens/fundo-caixa.png);
}

h2 {
    font-size: 1.1em;
    background: #AB886D;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

.texto-caixa {
    text-align: justify;
    margin: 10px;
    line-height: 30px;
}

/* Menu lateral */

#barra-lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#barra-lateral ul a:hover {
    color: #a1a1a1;
    background: #f9f9f9 url(/assets/imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
}

/* Formulários */

label {
    display: block;
    cursor: pointer;
}

input {
    font-size: 0.9em;
    background-color: #fff;
    padding: 5px;
    width: 120px;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #D6C0B3;
    border: 2px solid #493628;
}

/* Imagem */

/* img {
    border: 2px solid #dfdfdf;
} */

img.imagem-principal {
    width:98%;
    border: 3px solid #dfdfdf;
}

img.img-entrevista {
    border: 10px solid #fff;
    width: 98%;
    margin-top: 5px;
}

/* Cabeçalhos */

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #fff;
}

.entrevista h3 {
    background: #b10333;
}

/* Lista de notícias */

#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3 {
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p {
    font-size: 0.7em;
    color: #000;
}

#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}

/* Rodapé */

#container-rodape {
    clear: both;
    background: #AB886D;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}